[submodule "asciidocserver"]
	path = modules/asciidocserver
	url = https://github.com/artofcoding/asciidocserver.git
	pushurl = git@github.com:artofcoding/asciidocserver.git
[submodule "rootbooks"]
	path = rootbooks
	url = https://github.com/artofcoding/rootbooks.git
	pushurl = git@github.com:artofcoding/rootbooks.git
