[submodule "asciidocserver"]
	path = modules/asciidocserver
	url = https://bitbucket.org/artofcoding/eu.artofcoding.asciidocserver.git
	pushurl = git@bitbucket.org:artofcoding/eu.artofcoding.asciidocserver.git
[submodule "rootbooks"]
	path = rootbooks
	url = https://bitbucket.org/artofcoding/rootbooks.git
	pushurl = git@bitbucket.org:artofcoding/rootbooks.git
